@{
    ViewData["Title"] = "Upload de Arquivo";
}

<h2>Upload de Arquivo</h2>

<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    <label for="file">Escolha um arquivo:</label>
    <input type="file" name="arquivo" id="file" accept=".csv" required />
    <button type="submit">Enviar</button>
</form>

<a class="btn btn-primary mt-4" href="@Url.Action("SelecionarArquivos", "Home")">Ver arquivos enviados</a>

@if (ViewBag.Mensagem != null)
{
    <p>@ViewBag.Mensagem</p>
}